.info {
  padding-top: 5px;

  @media (min-width: $tablet-width) {
    padding-top: 55px;
    margin-bottom: 47px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 23px;
    margin-bottom: 143px;
  }
}

.info__block {
  @media (min-width: $desktop-width) {
    max-width: 1290px;
    margin: 0 auto;
    padding-right: 60px;
    padding-left: 60px;

    background-color: $color-white;
    background-image: url("../img/content/map-info@1x.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/content/map-info@2x.png");
    }
  }

  @media (min-width: $desktop-max-width) {
    max-width: 1444px;
    padding-right: 136px;
    padding-left: 136px;
  }
}

.info__tabs-wrapper {
  margin-bottom: 25px;

  @media (max-width: $to-desktop-width) {
    overflow-x: scroll;

    &::-webkit-scrollbar {
      width: 0;
      height: 0;
    }
  }

  @media (min-width: $tablet-width) {
    margin-bottom: 30px;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    margin-bottom: 63px;
    padding-right: 60px;
    padding-left: 60px;
  }

  @media (min-width: $desktop-max-width) {
    max-width: 1444px;
    margin: 0 auto;
    margin-bottom: 63px;
    padding-right: 136px;
    padding-left: 136px;
  }
}

.info__tabs {
  display: flex;
  width: 903px;
  margin: 0;
  margin-right: 16px;
  margin-left: 16px;
  padding: 0;
  padding-bottom: 14px;

  list-style: none;

  border-bottom: 1px solid rgba($color-dark, 0.3);

  @media (min-width: $tablet-width) {
    margin-left: 21px;
  }

  @media (min-width: $desktop-width) {
    flex-wrap: wrap;
    width: auto;
    margin-left: 0;
  }
}

.info__tab {
  margin-right: 96px;

  &:last-child {
    margin-right: 0;
  }
}

.info__tab-link {
  display: block;

  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: $color-dark;

  opacity: 0.3;
}

.info__tab-link.active {
  color: $color-light-red;

  opacity: 1;
}

.info__container {
  @media (min-width: $desktop-width) {
    display: grid;
    margin-bottom: 154px;

    grid-gap: 99px;
    grid-template-columns: min-content 1fr;
  }
}
